<!DOCTYPE html>

<html>

<head>
  <base href = "/" />
  <title>Biosystems Lab Master ver 2.0.0</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="toast/toastr.min.css" rel="stylesheet">  
  <link href="css/style.css" rel="stylesheet">
  <link href="css/login.css" rel="stylesheet">
  <link href="sweet-alert/jquery.sweet-modal.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/ngDialog.min.css">
  <link rel="stylesheet" href="css/ngDialog-theme-default.min.css">
  <link rel="stylesheet" href="css/ngDialog-custom-width.css">
  <link rel="stylesheet" href="css/angular-moment-picker.min.css">
  <link href="css/ubuntufont.css" rel="stylesheet">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/datatable.css">
  <link rel="stylesheet" href="js/select2/select2.css">
  <style>
      #referral-person-master-dt td, #patientdt td, #referral-center-master-dt td, #guardian-master-dt td, thead{
        
        max-width: 50px !important; 
        overflow-x: hidden !important;
    
        font-size: 0.8em !important;
        
      }
      #referral-person-master-dt, #patientdt, #referral-center-master-dt, #guardian-master-dt{
       width: 100% !important;
       
      }
   
      
     

    </style>
<!--   <link rel="stylesheet" href="css/bootswatch.css">   -->

</head>

<body ng-app="myApp"  ng-controller = "my_server">

  
<div  ng-view></div>  

    

  
    <!-- Insert this line above script imports  -->


<!-- normal script imports etc  -->

<script src="js/vue.js"></script>
<script src="js/angular1.6.6.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="toast/toastr.min.js"></script>

<script src="js/functions.js"></script>

<script src="js/angular-route.js"></script>

<script src="js/id-generator.js"></script>
<script src="js/db.js"></script>
<script src="js/angular-app.js"></script>
<script src="js/controllers.js"></script>

<script src="sweet-alert/jquery.sweet-modal.min.js"></script>
<script src="js/ngDialog.min.js"></script>
<script src="js/moment-locale.js"></script>
<script src="js/angular-moment-picker.min.js"></script>  

<script src="js/angular-bootstrap-ui.js"></script>
<script src="js/ng-sanitize.js"></script>
<script src="js/datatable.js"></script>
<script src="js/select2/select2.js"></script>
<script src="./ckeditor/ckeditor.js"></script>



<div class="modal fade" id="modal-id" style = "width: 100%; background: #fff">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!-- <h4 class="modal-title">Modal title</h4> -->
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>





</body>
</html>