<div class="lab-panel" style="border-radius: 12px; border: 1px solid #ddd">

    <div ng-include="'ng-includes/header.html'"></div>

    <div ng-include="'ng-includes/close.html'"></div>

  <p>
    <h3>Unperformed | Partially Performed TESTS</h3>
  </p>
  
   <div class = "form-group">
     <b>Departments: {{department_name}}</b>
     
   </div>
  
  


  <table id = "list-accepted-tests-unpartial" style="background: #eee" class="table">
    <thead><tr>
      <th>Date</th>
      <th>Lab. No</th>
      <th>Sex</th>
      <th>Age</th>   
      <th>Referred By</th>   
      <th>Test Codes</th>      
      <th>...</th>      
      <th>...</th>
    </tr>
  </thead>  

  </table>


</div>
