<div class="lab-panel" style="border-radius: 12px; border: 1px solid #ddd">

    <div ng-include="'ng-includes/header.html'"></div>

    <div ng-include="'ng-includes/close.html'"></div>
    <style>
        table td:nth-child(6){
          width: 50%;
        }
        table td:nth-child(6) span{
          
          background: #b8b6a6;
          color: #333;
          font-size: 0.8em;
        }
      
      </style>


  <p>
    <h3>LIST OF ACCEPTED TESTS</h3>
    Sort: From <input placeholder = "from" class = "datepicker" data-toggle="datepicker"  id = "FromSortAcceptedTestsByDate" name = "from_date"  /> to <input placeholder = "to" class = "datepicker" data-toggle="datepicker"  name = "to_date" id = "ToSortAcceptedTestsByDate" />  <button id = "SortAcceptedTestsByDate"  class = "btn">Sort Tests</button>
  </p>
  

  <table id = "list-accepted-tests" style="background: #eee" class="table">
    <thead><tr>
      <th>Date</th>
      <th>Lab. No</th>
      <!-- <th>Test Name</th> -->
      <th>Patient ID</th>      
      <th>Sex</th>
      <th>Age</th>
      <th>Tests</th>      
      <th>...</th>      
      <th>...</th>
      <th>...</th>
    
    </tr>
  </thead>  

  </table>


</div>
