<div class="lab-panel" style="border-radius: 12px; border: 1px solid #ddd">

    <div ng-include="'ng-includes/header.html'"></div>

    <div ng-include="'ng-includes/close.html'"></div>



    <div class="container">

        <div class='sub-nav'>
            <p>
                <h3>CHOOSE DEPARTMENT</h3>
            </p>
            <hr>
            <div ng-if = "! show_department"><p>loading departments...</p></div>
            <div ng-if = "show_department">
                <div class="row">
                
                
                    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="i in ChooseDepartment">
                        <div class = "well">
                            <button style = "overflow: hidden; white-space: normal; text-overflow: ellipsis; display: inline-block" ng-click="GoToUnPartialTest(i.id, i.name)" class="btn btn-primary">{{i.name}}<p><b>{{i.code}}</b></p>
                                </button>
                        </div>
                    </div>          
                
                
                
                </div>
            </div>


    </div>


    <p ng-if="spinnerx == 0">
        <b>please wait...</b>
    </p>


</div>