
    <div class = "lab-panel" style = "border-radius: 12px; border: 1px solid #ddd;">
        

<div class = "row">
    
    <div class = "col-md-4">
        <div class = "form-group">
            <label><b>Code</b></label><br>
            <input name = "code" class = "form-control" type = "text" placeholder = "code" />

        </div>
        <div class = "form-group">
                <label><b>Department name</b></label><br>
                <input name = "department_name" class = "form-control" type = "text" placeholder = "name of department" />
    
        </div>
        <input type = "hidden" name  = "id" />
        <button  func = "UpdateDepartment" params = "code, department_name, id" class = "my-btn click">Save Changes</button>
        

    </div>


</div>


</div>


     