<div class = "lab-panel" style = "border-radius: 12px; border: 1px solid #ddd">
    
  <div ng-include="'ng-includes/header.html'"></div>

   <div ng-include="'ng-includes/close.html'"></div>    
         
   <div class = "well">
       <p><b>Revenue Report</b></p>
       <div class="form-group">
         <select>
           <option>Daily Report</option>
           <option>Weekly Report</option>
           <option>Monthly Report</option>

         </select>

       </div>
      
<div class = "row">

    <div class = "col-md-6">
        <label><b>Date Range</b></label><br>
                    <div class = "form-group">
                        <div class = "row">
                        <div class = "col-md-6">
        
                    From<br> <input class = "form-input" type  = "date" /> 
        
                        </div>
                        <div class = "col-md-6">
                                
                          To:<br>  <input type  = "date" />  <button>Search</button>                          
                           </div>
                  
                    </div>
        
                    </div>
        
                  </div>

                  <div class="col-md-6">
                    <div class="row">
  <div class="col-md-6">
    
Total: 
Net  = Total - discount
Discount 
Amount Received - cash, pos, e.t.c
Balance


  </div>
   <div class="col-md-6">
LAB 
<hr>

Total: 
Net  = Total - discount
Discount 
Amount Received - cash, pos, e.t.c
Balance
<br>
CLINICAL 
<hr>

Total: 
Net  = Total - discount
Discount 
Amount Received - cash, pos, e.t.c
Balance
    
  </div>
  
  

</div>

                  </div>
</div>
<p><h3>Biosystems Medical Diagnostics</h3></p>

  <P  Align=Center >
<font size=5 >

</font>
<BR>
<BR>
   <div class = "well">
     Dept. Revenue Summary from 19-Apr-18 To 19-Apr-18 
     <button class = "my-btn btn btn-sm pull-right"> Email Report</button>
     <button class = "my-btn btn btn-sm pull-right"> PDF Report</button>

   </div> 
</P>
<TABLE  >
<TR>
<TD  Align=left  bgcolor=E9E9E9 style="WIDTH: 100px" width="100" ><B> Lab No.  </B></TD>
<TD  Align=left  bgcolor=E9E9E9 style="WIDTH: 100px" width="100" ><B> Name  </B></TD>
<TD  Align=left  bgcolor=E9E9E9 style="WIDTH: 80px" width="80" ><B> Ref By  </B></TD>
<TD  Align=left  bgcolor=E9E9E9 style="WIDTH: 80px" width="80" ><B> Tests  </B></TD>
<TD  Align=RIGHT  bgcolor=E9E9E9 style="WIDTH: 110px" width="110" ><B> Total Amt  </B></TD>
<TD  Align=RIGHT  bgcolor=E9E9E9 style="WIDTH: 110px" width="110" ><B> Conc.  </B></TD>
<TD  Align=RIGHT  bgcolor=E9E9E9 style="WIDTH: 110px" width="110" ><B> Amt Paid  </B></TD>
<TD  Align=RIGHT  bgcolor=E9E9E9 style="WIDTH: 110px" width="110" ><B> Balance  </B></TD>
<TD  Align=RIGHT  bgcolor=E9E9E9 style="WIDTH: 110px" width="110" ><B> Payment method </B></TD>
<TD  Align=RIGHT  bgcolor=E9E9E9 style="WIDTH: 80px" width="80" ><B> CARDIO  </B></TD>
<TD  Align=RIGHT  bgcolor=E9E9E9 style="WIDTH: 80px" width="80" ><B> EXAM  </B></TD>
<TD  Align=RIGHT  bgcolor=E9E9E9 style="WIDTH: 80px" width="80" ><B> LAB  </B></TD>
<TD  Align=RIGHT  bgcolor=E9E9E9 style="WIDTH: 80px" width="80" ><B> ULC  </B></TD>
<TD  Align=RIGHT  bgcolor=E9E9E9 style="WIDTH: 80px" width="80" ><B> XRY  </B></TD>
<TD  Align=RIGHT  bgcolor=E9E9E9 style="WIDTH: 80px" width="80" ><B> MISC.  </B></TD>
</TR> 

<TR>
<TD  Align=left  bgcolor=E9E9E9 colspan="14"  ><B> 19-Apr-18  </B></TD>
</TR> 

<TR>
<TD  Align=left  class=xl34   > 180419001  </TD>
<TD  Align=left  class=xl34   > DANIEL-KALIO Dele </TD>
<TD  Align=left  class=xl34   >  </TD>
<TD  Align=left  class=xl34   > kft,fbc,bs,bsmmol </TD>
<TD  Align=RIGHT   > 11,000.00 </TD>
<TD  Align=RIGHT   > 3,500.00 </TD>
<TD  Align=RIGHT   > 7,500.00 </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   > 7,500.00 </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   >  </TD>
</TR> 

<TR>
<TD  Align=left  class=xl34   > 180419002  </TD>
<TD  Align=left  class=xl34   > OYINLOYE Olushola  </TD>
<TD  Align=left  class=xl34   >  </TD>
<TD  Align=left  class=xl34   > kft,lft,flp,bs,bsmmol,009,mpt,wid </TD>
<TD  Align=RIGHT   > 26,500.00 </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   > 26,500.00 </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   > 22,500.00 </TD>
<TD  Align=RIGHT   > 4,000.00 </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   >  </TD>
</TR> 

<TR>
<TD  Align=left  class=xl34   > 180419003  </TD>
<TD  Align=left  class=xl34   > IDEOZU Edidiong </TD>
<TD  Align=left  class=xl34   > Dr Femi Oluwole </TD>
<TD  Align=left  class=xl34   > HSG </TD>
<TD  Align=RIGHT   > 20,000.00 </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   > 20,000.00 </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   >  </TD>
<TD  Align=RIGHT   > 20,000.00 </TD>
<TD  Align=RIGHT   >  </TD>
</TR> 

</TABLE>

</div>
</div>

