<div class = "container" class = "lab-panel" style = "border-radius: 12px; border: 1px solid #ddd">
    
  <div ng-include="'ng-includes/header.html'"></div>
  <div ng-include="'ng-includes/close.html'"></div>   
<br>
         <div class = "row" style= "background: #000; border-radius: 6px; border: 1px solid #ddd; padding: 14px; text-align: center">
            

             <div class = "col-md-4 col-sm-6">
              
                 <button class = "button text-white" ng-click="report_revenue_ui()">
                     <img src = "img/icons/perform-test.png" width = "30%" />
                     <br>
                    Revenue Report
                 
                 </button>

             </div>

             
                   
                     
                     </div>
                  

     
         <div ng-include="'ng-includes/footer.html'"></div>
     </div>

</div>