<div class = "lab-panel" style = "border-radius: 12px; border: 1px solid #ddd">
    
        <div ng-include="'ng-includes/header.html'"></div>
        
        <div ng-include="'ng-includes/close.html'"></div>
        
              <p><h3>TRACK MANUAL INVENTORY</h3></p>
              <b><i>double click row to edit</i></b>
              <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class = "table">
                                <tr><th>...</th><th>Code</th><th>Name</th><th>U. Cost</th><th>Unit Name</th><th>U.Qty</th><th>G.Qty</th> <th>G. Cost</th><th>Group Name</th><th>U. Conversion</th> <th>Low Stock</th><th>Expiry Date</th><th>...</th><th>...</th></tr>
                           

                        </table>


                        
                    </div>


            </div>


</div>