@page {
    /* size: a4;
    margin: 10; */
    margin: 1cm 1cm 1cm;

}

@media print {

  
    .page-breaker {
        page-break-after: always;

        text-align: center;
        margin-top: 36px !important;
        font-size: 0.8em !important;
    }

    .page-breaker:after {
        /* counter-increment: pageNumber;
        content: counter(pageNumber); */
        font-size: 0.8em !important;
        bottom: 0px;
        width: 100%;
        text-align: center !important;
        
    }

    table {
         page-break-inside: avoid !important; 

    }

   
	.wrap{
		border: 3px solid #181616c2;
		padding: 12px;
		position: relative;
	}
	.cover-wrap{
		position: absolute;
		bottom: -5px;
		height: 5px;
		width: 99.8%;
		background: #181616c2;
		left: 8px;
	}
	.cover-wrap-right{
		position: absolute;
		right: -6px;
		top: 0px;
		height: 73px;
		width: 5px;
		background: #181616c2;
	}

}