
 .nnheader{
  
  font-size: 0.6em !important;
  border-top: 4px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-top: 60px !important;
  padding: 4px;

 
 }
 .is-clinical{
  font-size: 1em !important;
  border-top: 4px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-top: 4px;
 
  padding: 4px;
 }

body{
  background:#fff;
     
}
.MsoNormalTable{
  /* border: 1px solid red; */
}
.MsoNormalTable th, .MsoNormalTable td, .MsoNormalTable tr span{
white-space: nowrap;
font-size: 0.8em !important;
}
.toolbar{
  margin-left: 12px;
  border: 1px solid #fff;
  padding: 12px;


}
.span-cell{
  display: table-cell;
  width: 10px;
}
.nowrap{
  white-space: nowrap !important;
}
.badge{
  padding: 6px;
  background: #333;
  border-radius: none !important;
  margin: 3px;
}
.toolbar b{
  color: #fff;
}
.track-page{
 
  
}

.track_row{
  /* border: 1px solid red !important; */
}
.lab-panel{
  margin: 40px auto;
  width: 90%;
  border: 3px solid #f9f9f9;
  padding: 10px;
  background: #ffffff; 
}
.col-md-4{
margin-top: 10px;
}
.footer{
  text-align: center;
}
.button {
  background: #b3bebb;
  background-image: -webkit-linear-gradient(top, #2f3836, #000);
  background-image: -moz-linear-gradient(top, #2f3836, #000);
  background-image: -ms-linear-gradient(top, #2f3836, #000);
  background-image: -o-linear-gradient(top, #2f3836, #000);
  background-image: linear-gradient(to bottom, #2f3836, #000);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.button:hover {
  background: #050505;
  background-image: -webkit-linear-gradient(top, #050505, #416378);
  background-image: -moz-linear-gradient(top, #050505, #416378);
  background-image: -ms-linear-gradient(top, #050505, #416378);
  background-image: -o-linear-gradient(top, #050505, #416378);
  background-image: linear-gradient(to bottom, #050505, #416378);
  text-decoration: none;
}
.app-btn{
  border: none;  
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: "ubuntu";
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}
.bg-coral{
    background: coral;
}
.bg-green{
  background: green;
}
.bg-blue{
    background: rgb(58, 58, 126);
}
.bg-red{
  background: red;
}
.bg-black{
  background: rgb(32, 31, 31);
}
.text-white{
  color:#fff;
}

.my-btn {
  border: none;
  background: #4848a1;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.my-btn:hover {
color: #000 !important;
background: #eee;
font-weight: bold;
transition: background 2s;
transition: font-weight 1s
}
.my-btn:active {
	position:relative;
	top:1px;
}


tr.selectedrow {
  background-color: rgb(246, 255, 221);
}
.sidenav{
  background: rgb(182, 164, 164) !important;
  border-radius: 12px !important;
}
.uppercase{
  text-transform: uppercase;
}
.approved{
  background: rgb(69, 161, 69);
  color: #fff;
  font-width: bold;
}
.printed{
  background: rgb(182, 199, 122);
  color: #fff;
  font-width: bold;
}
.emailed{
  background: rgb(71, 13, 13);
  color: #fff;
  font-width: bold;
}
.unapproved{
  background: #fff;
  color: #fff;
  font-width: bold;
  border: 1px solid #333;
}
.badge{
  margin-right: 2px;
}
.table{
  padding: 0px !important
}
.view-test{
  background: #ffffff;
}
.enter-test table{
  width: 100%;
}
.enter-test tr td{
  padding-top: 1px;
  border: 1px solid #ddd;
  width: 8%;
  text-align: left !important;
}
.enter-test tr td input{
  border: 1px solid #333;
  height: 20px;
  text-align: center;
  /* padding-top: 1px;
  border-bottom: 2px solid #eee;
  width: 100%;
  text-align: center; */
}
/*.preview-test-new{
  table-layout: fixed !important;
}*/
/*Controls test / profile table headers*/
.test-info{
  /* text-align: left !important; */
  text-align: left;
  border-top: 1px solid #333;
  border-bottom: #333; padding: 6px;
  text-align: justify;
  font-size: 0.8em !important;

}

.preview-test-new{
  /* border: 1px solid #333; */

}
.preview-test-new tr.header, .preview-test-new tr.header td{
  
  /*border: 1px solid #333;
  padding-top: 10px !important;
  padding-bottom: 10px !important;*/
 /* width: 10%;
  padding: 12px;*/
  
}

.preview-test-new tr.header{
 /* padding: 0px !important;
  margin: 0px !important;*/
}

.preview-test-new tr.header .bio-col-1{
  
/*  border: 1px solid #333;*/
  
}
.preview-test-new tr.header .bio-col-2{
  
 /* border: 1px solid #333;*/
  
}

.preview-test-new tr.header .bio-col-3{
  
 /* border: 1px solid #333;*/
  
}
.preview-test-new tr.header .bio-col-4{
  
/* border: 1px solid red;*/
  /*
  font-weight: bold;
  position: relative;
  margin-left: -120px;*/
 
}
.preview-test-new tr.header .bio-col-5{
 
  /*border: 1px solid red;*/
  /*
  font-weight: bold;
  position: relative;
  margin-left: -40px;*/

}

/*tests/profile body*/
.preview-test-new tr.test_, .preview-test-new tr.test_ td{
  
  /*border: 1px solid #333;
  padding-top: 10px !important;
  padding-bottom: 10px !important;*/
  
}

.preview-test-new tr.test_{
  padding: 0px !important;
  margin: 0px !important;
}

.preview-test-new tr.test_ .bio-col-1{
  
 /* border: 1px solid #333;*/
  
}
.preview-test-new tr.test_ .bio-col-2{
  
/*  border: 1px solid #333;*/
  
}

.preview-test-new tr.test_ .bio-col-3{
  
/*  border: 1px solid #333;*/
  
}
.preview-test-new tr.test_ .bio-col-4{
  
/* border: 1px solid red;*/
  /*
  font-weight: bold;
  position: relative;
  margin-left: -120px;*/
 
}

.preview-test-new tr.test_ .bio-col-5{
 
/*  border: 1px solid red;*/
  /*
  font-weight: bold;
  position: relative;
  margin-left: -40px;*/

}
/*test headers*/
.cat_name{
/*  font-size: 1.5em !important;*/
  /*font-weight: bold;*/
  text-align: center !important;

}
.test_, .test_ td{
 
 /*height: 36px;*/
 /*margin: 0px !important;
 padding: 0px !important;*/
}

input{
  /* border: 1px solid #ddd; */
}

.test-header{

font-family: arial;
  
  /*-webkit-filter: drop-shadow(4px 4px 1px #ccc);*/
 /* -webkit-filter: box-shadow(6px 6px #808080);*/
    /*text-shadow: 4px 4px 1px #ccc;*/
    clear: both;
    border-top: 1px solid #ddd;
   
      border-left: 1px solid #ddd;
      border-right: 4px solid #808080;
   border-bottom: 4px solid #808080 !important;
  /* box-shadow: 6px 6px #808080;
   -webkit-box-shadow: 6px 6px #808080;
    -moz-box-shadow: 6px 6px #808080;*/
   /*font-size: 0.8em;*/
   /*padding: 12px;
   margin-bottom: 24px;*/
  /*  background: #fff;*/
  


}

.theader{
      border-top: 0px solid #999;
      border-left: 0px solid #999;
      border-right: 4px solid #ccc;
      border-bottom: 4px solid #999;
      margin-bottom: 6px;

    /* clear: both; */
}
.test-body{
   margin-right: auto;
   margin-left: auto;
   width: 90%;
  

}
.bg-white{
  background: #fff !important;
}
.result-footer{
  font-size: 0.8em;
  font-style: italic;
  background: #fff;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
 
  padding: 1rem;
  
  text-align: center;

   
}
#pageFooter:before {
    counter-increment: page;
    content:"Page " counter(page);
    left: 0; 
    top: 100%;
    white-space: nowrap; 
    z-index: 20px;
    -moz-border-radius: 5px; 
    -moz-box-shadow: 0px 0px 4px #222;  
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc); 
    text-align: left !important; 
  }


.test-name{
  font-weight: bold;
  white-space: nowrap;
  margin: 0px;
  color: #333;

}
.result-settings table tr td{
  border: 1px solid #333 !important;
}
.result-settings table tr {
    border: 1px solid #fff !important;
}
.result-settings td{
    border: 1px solid #fff !important;
    width: 40%;
}

.test-header td{
 /* width: 200px;
  font-size: 0.6em;
  padding:12px;*/
}
.prev-result{
  font-size: 0.6em;
}
.abnormal-main-result{
  color: red !important;
}
.x-test-name{
/*  border: 1px solid red !important;
  width: 700px !important;
  font-size: 0.6em;*/
}
/*col width settings - test header*/
.bio-row-1{
  /*border: 1px solid red;*/


}
.bio-row-1 .bio-col-1{
/* font-size: 3em;*/


}
.bio-row-1 .bio-col-2{
 /* border: 1px solid pink;*/

}
.bio-row-1 .bio-col-3{

 /* border: 1px solid pink;*/

}
.bio-row-1 .bio-col-4{
  /*border: 1px solid pink;*/

}

.bio-row-2{

/* border: 1px solid green; */
}
.bio-row-2 .bio-col-1{
 /* border: 1px solid pink;*/

}
.bio-row-2 .bio-col-2{
/*  border: 1px solid pink;*/

}

.bio-row-2 .bio-col-3{
/*  border: 1px solid pink;*/

}
.bio-row-2 .bio-col-4{
/*  border: 1px solid pink;*/

}

.bio-row-3{

  } 

  .bio-row-3 .bio-col-1{
/*
  border: 1px solid pink;*/

}
.bio-row-3 .bio-col-2{

/*  border: 1px solid pink;*/

}

.bio-row-4{

  } 

  .bio-row-4 .bio-col-1{
/*  border: 1px solid pink;*/

}
.bio-row-4 .bio-col-2{
/*  border: 1px solid pink;*/

}

/*culture panel*/
section.header{
border: 1px solid #333;

padding: 6px;

}
section.header .item{
  display: table-cell;
  width: 200px;
  font-weight: bold;
}
section.header .val{
 display: table-cell;
  width: 200px;
}
.receipt-header{
  font-family: arial;
  
    clear: both;
    border-top: 3px solid #333;
   
      border-left: 1px solid #ddd;
      border-right: 4px solid #808080;
       border-bottom: 1px solid #808080;
}

.receipt-header .bio-row-1{
  /*border: 1px solid red;*/
padding: 4px;

}
.receipt-header .bio-row-1 .bio-col-1{
/* font-size: 3em;*/
font-weight: bold; font-size: 1em; width: 15%; display: table-cell; display: inline-block;

}
.receipt-header .bio-row-1 .bio-col-2{
 /* border: 1px solid pink;*/
font-weight: bold; font-size: 1em; width: 40%; display: table-cell;display: inline-block;
}
.receipt-header .bio-row-1 .bio-col-3{

font-weight: bold; font-size: 1em; width: 10%; display: table-cell; display: inline-block;

}
.receipt-header .bio-row-1 .bio-col-4{
  /*border: 1px solid pink;*/


}

.receipt-header .bio-row-2{
padding: 4px;
}
.receipt-header .bio-row-2 .bio-col-1{
 font-weight: bold, font-size: 1em; width: 15%;  display: table-cell; display: inline-block;

}
.receipt-header .bio-row-2 .bio-col-2{
font-weight: bold; font-size: 0.8em; width: 40%; display: table-cell; display: inline-block;

}

.receipt-header .bio-row-2 .bio-col-3{
font-weight: bold; font-size: 1em; width: 10%, display: table-cell; display: inline-block;

}
.receipt-header .bio-row-2 .bio-col-4{
/*  border: 1px solid pink;*/

}

.receipt-header .bio-row-3{

  } 

 .receipt-header .bio-row-3 .bio-col-1{
/*
  border: 1px solid pink;*/

}
.receipt-header .bio-row-3 .bio-col-2{

/*  border: 1px solid pink;*/

}

.receipt-header.bio-row-4{

  } 

.receipt-header .bio-row-4 .bio-col-1{
/*  border: 1px solid pink;*/

}
.receipt-header .bio-row-4 .bio-col-2{
/*  border: 1px solid pink;*/

}
.static-test-header{
border: 2px solid #333;

border-radius: 3px;
min-height: 100px;
margin-top: 8px;
font-family: "Times New Roman", Times, serif !important;

}
span{
  /* font-family: 'Ubuntu', sans-serif !important; */

}
.static-test-header .header{
  background: #00004c !important;
  color: #fff !important;
  padding: 3px;
  font-family: 'Ubuntu', sans-serif !important;
}
.static-test-header .body{
padding: 4px;
font-size: 0.8em;

}
tbody tr td:nth-child(4){
  color: green;
  text-align: center !important;
}
tbody tr td:nth-child(5){
  color: blue;
  text-align: center !important;
}
input{
  /* border: 1px solid #333 !important; */
  height: 20px;
  text-align: center;
  /* padding: 3px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important; */

}

  /* DivTable */
  .divTable{
    display: block;
      
      /* border: 1px solid green; */
     
  }
  .colspan{
    width: 100% !important;
    /* border: 2px solid pink; */
    clear: both !important;

  }
  .divTableRow {
  
     width: 100%;
      height: 30px;
      /* border: 1px solid yellow; */
  
  }
  .divTablex{
   
    width: 100%;
      
    border: 1px solid green;
     
  }
  .divTableRowx {
  
    /* width: 100%;
     
     border: 1px solid rgba(14, 11, 11, 0.2); */
     clear: both;
 
 }
 .divTableCellx {
  float: left;
  width: 25%;
  border: 1px solid #333;
   
}
  .divTableHeading {
    background-color: #000;
  
  }
  .divTableCell, .divTableHead {
      float: left;
      width: 15%;
      /* border: 1px solid red; */
      /* padding: 3px 10px; */
     
  }

  .first {
    /* border: 1px solid gold !important; */
   width: 40% !important;   
}


  .divTableHeading {
    
  }
  .divTableFoot {
  
  }
  .divTableBody {
    
  }
  .headerx{
    border: 1px solid #333;
    font-size: 0.9em;
  }
  .mce-branding{
    display: none !important;
  }
  div {
    word-wrap: break-word;
}
.text-left{
  text-align: left;
}
.sub-nav{
  margin: 0 auto;
   width: 80%;
  border: 1px solid #f1e9e9; 
  text-align: center;
  background: beige;
}
.sub-nav button{
  padding: 24px;
  width: 220px;
  font-size: 2rem;
  border-radius: 12px;
  border: 2px solid #b7d5fd;
}
.modal-dialog {
  width: 90%;
  height: 90%;
  margin: auto;
  padding: auto;
}

.modal-content {
  height: auto;
  min-height: 90%;
  border-radius: 0;
}
.button-test-group button{
  font-size: 0.7em;
  background: #4848a1;
  color: #fff;
}
.button-test-group button:hover{
  transition: background linear 0.4s;
   background: #416378; 
  
}
/* ................... */

#referral-person-master-dt td, #patientdt td, #referral-center-master-dt td, #guardian-master-dt td, thead{
  
  max-width: 50px !important; 
  overflow-x: hidden !important;

  font-size: 0.8em !important;
  
}
#referral-person-master-dt, #patientdt, #referral-center-master-dt, #guardian-master-dt{
 width: 100% !important;
 
}

.webui-popover-content{

max-height: 300px;
overflow-x: ellipsis;
color: #333 !important;

}
.table tr:hover{
  background: #ddd;
}
.performed{
  background: #51a051;
}
.partial{
  background: #ec412b;
}


#enter-test table thead tr th:nth-child(1), #enter-test table tbody tr th:nth-child(1){
  
  min-width: 20% !important;
  max-width: 20% !important;
  width: 20%;
  text-overflow: ellipsis;
}
#enter-test table thead tr th:nth-child(2), #enter-test table tbody tr th:nth-child(2){
  
  min-width: 20% !important;
  max-width: 20% !important;
  width: 20%;
  text-overflow: ellipsis;
}
#enter-test table thead tr th:nth-child(3), #enter-test table tbody tr th:nth-child(3){
  
  min-width: 20% !important;
  max-width: 20% !important;
  width: 20%;
  text-overflow: ellipsis;
}
#enter-test table thead tr th:nth-child(4), #enter-test table tbody tr th:nth-child(4){
  
  min-width: 20% !important;
  max-width: 20% !important;
  width: 20%;
  text-overflow: ellipsis;
}
#enter-test table thead tr th:nth-child(5), #enter-test table tbody tr th:nth-child(5){
  
  min-width: 20% !important;
  max-width: 20% !important;
  width: 20%;
  text-overflow: ellipsis;
}

#editor1-paragraph-pane, #editor2-paragraph-pane, #editor3-paragraph-pane,#editor4-paragraph-pane{
 display: none;
 position: fixed;
 top: 10%;
 left: 10%;
 background: #19242c;
 padding: 12px;
}
.text-center{
 text-align: center;
}
.uppercase{
 text-transform: uppercase;
}
.abnormal{
 color: red !important;
}


/* ----------------- */
.modal-body{
  overflow-y: scroll;
  height: 90vh;
}
.patient-info th{
width: 30%;
}
.patient-info td{
width: 70%;
}
.tabular{
width: 100%;
}
.tabular th, .tabular td, .tabular tr{
border: none;
padding: 1px;
}
.tabular thead{
border: 1px solid #333;


}
.cat-name{
text-transform: uppercase;
text-align: center;
margin-bottom: 18px;
font-weight: bold;
font-size: 16px;
}



