<div ng-app="myApp"  ng-controller = "my_server" class = "add-new-category" style = "padding: 4px">
    <hr>
   <h4>New Test Category</h4>
<!-- <div><input ng-model="add_new_category_fd.sno" class = "form-control" type = "text" placeholder="serial no." readonly /><br> </div>   -->
<div><input ng-model="add_new_category_fd.name" class = "form-control" type = "text" placeholder="name" /> <br></div>    <div><input ng-model="add_new_category_fd.code" class = "form-control" type = "text" placeholder="code" /><br> </div>
<div>
	<button  ng-click = "add_new_category()" class = "my-btn">add to category</button>

	 </div>  
<hr>         
</div>