<script>
    setTimeout(function() {
        
        CKEDITOR.replace( 'editor1', { uiColor: '#9AB8F3', height: '30vh', allowedContent: true} )
      
        
    }, 500);
</script>
       <h3>New Profile</h3>
    <!-- <div><input v-model="add_new_category_fd.sno" class = "form-control" type = "text" placeholder="serial no." readonly /><br> </div>   -->
    <div>Code: <input v-model="add_new_profile_fd.code" class = "form-control uppercase" type = "text" placeholder="code" /><br> </div>
    <div>Name: <input v-model="add_new_profile_fd.name" class = "form-control" type = "text" placeholder="name" /> <br></div> 
    <div>Rate: <input v-model="add_new_profile_fd.rate" class = "form-control" type = "text" placeholder="rate" /><br> </div>  
   
    <div class = "form-group">
            <label><b>Profile information summary </b></label>
            <textarea id = "editor1" rows = "15" v-model="add_new_profile_fd.profile_summary"  class = "form-control" placeholder="Test information summary"></textarea>
           
        
    </div>
    <div><button @click = "AddNewProfile(add_new_profile_fd)" class = "my-btn">add profile</button> </div>  
   