<script>
    setTimeout(function() {
        CKEDITOR.replace( 'editor1', { uiColor: '#9AB8F3', height: '30vh', allowedContent: true} );
    CKEDITOR.replace( 'editor2', { uiColor: '#9AB8F3', height: '30vh', allowedContent: true} );
    CKEDITOR.replace( 'editor3', { uiColor: '#9AB8F3', height: '30vh', allowedContent: true} );
    CKEDITOR.replace( 'editor4', { uiColor: '#9AB8F3', height: '30vh', allowedContent: true} );
        //: have access after 2 s
        // GET SELECTED TEST CATEGORY
        if(! window.test_category_list_dt){
            alertError("Please select a category")
            $("#modal-id").modal("hide")
            return
        }
        var ddt = window.test_category_list_dt
        $.map(ddt.rows('.selected').data(), function (item) {
            

            var code = item[0] // code  test category
            var name = item[1] // name  test category
            var tab_id = item[4] // id of test category
            $("#add-test-cat-select").append("<option value = '"+tab_id+"'>"+code+" - "+name+"</option>")
            

           
        });
        
    }, 500);
</script>
<div class="add-test" style="padding: 4px">
    <b>Test Category</b>
    <select id = "add-test-cat-select"  class = "form-control">
        
    </select>
    <br>
    <p><small>Add Test To Category</small></p>
    
    <div><button v-on:click="AddNewTest(add_new_test_fd)" params="" class="app-btn bg-blue pull-right">Add New Test</button> </div>
    <div role="tabpanel">
        <!-- Nav tabs -->  
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">New Test</a>
            </li>
            <li role="presentation">
                <a class = "click" func = "LoadTestList"  href="#tab" aria-controls="tab" role="tab" data-toggle="tab">Test List</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">

                    <!-- <h3>New Test </h3> -->


                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                <label><b>Test Code</b></label>
                                <input v-model="add_new_test_fd.code" class="form-control uppercase" type="text"
                                    placeholder="code" /><br> </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <label><b>Test Name</b></label>
                                <input v-model="add_new_test_fd.name" class="form-control" type="text" placeholder="name" />
                                <br></div>
                        </div>
                
                        <div class="col-md-3">
                            <div>
                                <label><b>Rate</b></label>
                                <input v-model="add_new_test_fd.rate" class="form-control" type="text"
                                    placeholder="rate" /><br> </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <label><b>Tax %</b></label>
                                <input v-model="add_new_test_fd.tax_per" class="form-control" type="text"
                                    placeholder="tax %" /><br> </div>
                        </div>
                            
                        <div class="col-md-12">
                            <div>Result Type: <select class="form-control"
                                    v-model="add_new_test_fd.report_type = 'Paragraph'">
                                    <option  value="">--select--</option>
                                    <option v-for = "r in ['Paragraph']">{{r}}</option>
                                </select><br> </div>
                
                        </div>
                        <div class="col-md-12">
                            <label><b>Test information </b></label>
                            <textarea id = "editor1" rows="5"  v-model="add_new_test_fd.summary"
                                class="form-control" placeholder="Test information summary"></textarea>

                                <!-- START TEST NOTE -->
                                
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#test-note1" aria-controls="home" role="tab" data-toggle="tab">Test Note 1</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#test-note2" aria-controls="tab" role="tab" data-toggle="tab">Test Note 2</a>
                                        </li>
                                        <li role="presentation">
                                                <a href="#test-note3" aria-controls="tab" role="tab" data-toggle="tab">Test Note 3</a>
                                        </li>
                                        <!-- <li role="presentation">
                                            <a href="#reference" aria-controls="tab" role="tab" data-toggle="tab">Reference Range</a>
                                    </li> -->

                                    </ul>
                                
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="test-note1">
                                                <!-- <label><b>Test information </b></label> -->
                                                <textarea id = "editor2" rows="5"  v-model="add_new_test_fd.summary_2"
                                                    class="form-control" placeholder="note 1"></textarea>

                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="test-note2">
                                                <!-- <label><b>Test information </b></label> -->
                                                <textarea id = "editor3" rows="5"  v-model="add_new_test_fd.summary_3"
                                                    class="form-control" placeholder="note 2"></textarea>

                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="test-note3">
                                                <!-- <label><b>Test information </b></label> -->
                                                <textarea id = "editor4" rows="5"  v-model="add_new_test_fd.summary_4"
                                                    class="form-control" placeholder="note 3"></textarea>

                                         </div>
                                         <!-- <div role="tabpanel" class="tab-pane" id="reference">
                                                <button v-on:click = "NewRefRanges" class = "my-btn"><i class = "fa fa-plus"></i> New Reference</button>
                                            <table  v-for = "(obj, i) in test_references"  class = "table">
                                               
                                                    <tr>
                                                            <td>
                                                                <b>Sex: </b><select v-model="test_references[i].sex = ''">
                                                                    <option value = "">--select--</option>
                                                                    <option value="M">Male</option>
                                                                    <option value="F">Female</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <b>Date Type: </b><select
                                                                    v-model="test_references[i].date_type">
                                                                    <option value="M">Years</option>
                                                                    <option value="M">Months</option>
                                                                </select>
                                                            </td>
                                        
                                                            <td>
                                                                <b>From: </b><input v-model="test_references[i].from"
                                                                    type="number" />
                                                            </td>
                                                            <td>
                                                                <b>To: </b><input v-model="test_references[i].to"
                                                                    type="number" />
                                                            </td>
                                        
                                        
                                                    </tr>
                                        
                                                    <tr>
                                                            <td>
                                                                <div class="">
                                                                    <div>
                                                                        <label><b>Lower bound 1</b></label>
                                                                        <input v-model="test_references[i].lb_1"
                                                                            class="form-control" type="text"
                                                                            placeholder="lower bound 1" /><br> </div>
                                                                </div>
                                                                <div class="">
                                                                    <div>
                                                                        <label><b>Upper band 1</b></label>
                                                                        <input v-model="test_references[i].up_1"
                                                                            class="form-control" type="text"
                                                                            placeholder="upper band 1" /><br> </div>
                                                                </div>
                                        
                                        
                                                                <div class="">
                                                                    <div>
                                                                        <label><b>Unit _1</b></label>
                                                                        <input type="text" placeholder="enter unit"
                                                                            v-model="test_references[i].unit_1"
                                                                            class="form-control"> <br> </div>
                                                                </div>
                                                                <div class="">
                                                                    <div>
                                                                        <label><b>Result Output Formula _1</b></label>
                                                                        <input v-model="test_references[i].out_1"
                                                                            class="form-control" type="text"
                                                                            placeholder="formula 1" /><br> </div>
                                                                </div>
                                        
                                        
                                                            </td>
                                        
                                                            <td>
                                                                <div class="">
                                                                    <div>
                                                                        <label><b>Lower bound 2</b></label>
                                                                        <input v-model="test_references[i].lb_2"
                                                                            class="form-control" type="text"
                                                                            placeholder="lower bound 1" /><br> </div>
                                                                </div>
                                                                <div class="">
                                                                    <div>
                                                                        <label><b>Upper band 2</b></label>
                                                                        <input v-model="test_references[i].up_2"
                                                                            class="form-control" type="text"
                                                                            placeholder="upper band 1" /><br> </div>
                                                                </div>
                                        
                                        
                                                                <div class="">
                                                                    <div>
                                                                        <label><b>Unit _2</b></label>
                                                                        <input class="form-control" type="text"
                                                                            placeholder="enter unit"
                                                                            v-model="test_references[i].unit_2">
                                        
                                        
                                                                        <br> </div>
                                                                </div>
                                                                <div class="">
                                                                    <div>
                                                                        <label><b>Result Output Formula _2</b></label>
                                                                        <input v-model="test_references[i].out_2"
                                                                            class="form-control" type="text"
                                                                            placeholder="formula 2" /><br> </div>
                                                                </div>
                                        
                                        
                                                            </td>
                                                            <td style='vertical-align: middle;'><button
                                                                    @click="RemoveReference(i)"
                                                                    class="btn btn-sm btn-danger"><i
                                                                        class="fa fa-times"></i> Remove Row</button>
                                                            </td>
                                                    </tr>
                                                    

                                            </table>

                                         </div> -->

                                    </div>
                                </div>
                                

                                <!-- END TEST NOTE -->
                                
                        </div>
                        <div class="col-md-12"><br>
                
                
                        </div>
                
                
                
                    </div>
                    <hr>
                    <div><button v-on:click="AddNewTest(add_new_test_fd)" params="" class="app-btn bg-blue">Add New Test</button> </div>




            </div>
            <div role="tabpanel" class="tab-pane" id="tab">
                <br>
                    
                    <table id="testlist_dt" class="table" style="border: 1px solid #ddd; width: 100%">
                        <thead>
                            <tr>
                                <th>Code </th>
                                <th>Name</th>

                                <th>...</th>
                                <!-- <th>...</th> -->
                            </tr>
                        </thead>


                    </table>

            </div>
        </div>
    </div>


    

    