<div ng-app="myApp"  ng-controller = "my_server" class = "add-test" style = "padding: 4px">
        <hr>
       <h3>Reference Ranges</h3>
          <button ng-click = "test_references_fxn()" class = "app-btn bg-coral">Add Reference Range</button><br><br>
   <div class = "well" ng-repeat = "ref in test_references track by $index">
 <button class = "my-btn btn-sm pull-right">X</button>
<div class = "row">

    <div class = "col-md-3">
    Months | Years: <select class = "form-control"  ng-model = "ref_range_sex.months_yrs"  ng-options = "item.name for item in [{id: 1, name: 'Months'}, {id: 2, name: 'Years'}]">
                <option value = "">--select month or years--</option>
                </select> 
    </div>
<div class = "col-md-3">
        Age Range: <input class = "form-control" type = "text" placeholder="1-2" /> 
</div>
</div>
    

       <div class = "row">
        <div class = "col-md-3"><div>
                <label><b>Sex</b></label>
            <select ng-model = "ref_range_sex.sex"  class = "form-control" ng-options="item.name for item in [{id: 1, name: 'Male'}, {id: 2, name: 'Female'}]">
        <option value = "">--select--</option>
        
            </select>
            
                <br> </div>   </div>
<div class = "col-md-3"><div>
        <label><b>Reference unit</b></label>
    <select ng-model = "ref_range_sex.unit"  class = "form-control"   ng-options="item.name for item in [{id: 1, name: 'Unit _1'}, {id: 2, name: 'Unit _2'}]">
<option value = "">--select--</option>

    </select> 
    
        <br> </div>   </div>

        


<div class = "col-md-3">
    <div>
            <label><b>Lower bound</b></label>
        <input ng-model="add_new_test_fd.lower_bound" class = "form-control" type = "text" placeholder="lower bound" /><br> </div> 
 </div>
<div class = "col-md-3">
    <div>
            <label><b>Upper band</b></label>  
        <input ng-model="add_new_test_fd.upper_band" class = "form-control" type = "text" placeholder="upper band" /><br> </div>  </div>

         
    </div> 
    </div>
    <p ng-if = "test_references.length < 1"><b>No references yet.</b></p>
    <hr> <div><button  ng-click = "save_reference_ranges()" class = "app-btn bg-blue">Save changes</button> </div> 