<div ng-app="myApp"  ng-controller = "test_performed" class = "view-test" style="padding: 10px">
  <hr style = "border: 2px solid gray">
<h3 class = "text-center">Enter Test Result <br>	
</h3>
<hr style = "border: 2px solid gray">
<div class = "pull-right"><button class = "bg-coral text-white my-btn btn-sm" ng-click="save_test_result()">Save &nbsp</button> <button class = "bg-green text-white my-btn btn-sm" ng-click="preview_test_result()">Preview&nbsp</button> </div>
<div class="clearfix"></div>
<hr>
<div class="text-center enter-test" style = "background: #fff">

     	<div class="all-tests" ng-if = "grouped_tests.tests">

	<div class = "group-test-category" ng-repeat = "test_group in grouped_tests.tests">
	<p><b ng-init = "get_test_cat_name_1(test_group.name)"><!-- {{test_group.name}} --> {{getres[$index].name}}</b></p>
<table class = "enter-test-new">
	<tr>
		<td></td>

		<td></td>
		<td></td>
			<td><b>Normal Range</b></td>
		<td><b>Prev. Result</b></td>
	
	</tr>
	<tbody ng-repeat="main_test in test_group.data">
	<tr ng-if = "main_test.type == 'Tabular'">
		<td>
			<div class = "row">
				<div class = "col-sm-6 test-name" ng-init ="get_patient_previous_result(main_test.test_code, mee)">
					
					{{main_test.test_name}} 

				</div>
				<!-- <div class = "col-sm-6">{{main_test.test_code}}</div> -->
			</div>
			

		</td>
		<td>

			<div class = "row">
				<div class = "col-sm-6"> </div>
				<div class = "col-sm-6"><input ng-enter = "get_formula_result(main_test.test_code, '_1', main_test.result_1); get_abnormal_val()" type="text" size = "8" placeholder="value" ng-model = "main_test.result_1"></div>
			</div>
			

		</td>
		<td>
		<div class = "row">
				<div class = "col-sm-6">
				

				</div>
				<div class = "col-sm-6">
				{{main_test.unit_1}}	
					
				</div>

			</div>
			

		</td>
		<td>
			<div class = "row">
			

				<div class = "col-sm-6 range1">
					{{main_test.range_1}}

				</div>
				<div class = "col-sm-6 range2">
					
			 {{main_test.h_range_1}}
				</div>

			</div>
			 


		</td>
		<td>
	<div class = "row">
				<div class = "col-sm-12">
				<small ng-if = "mee[main_test.test_code][0]">

					<!-- {{main_test.prev_result.date}} -->
				 	{{mee[main_test.test_code][0]}}	({{mee[main_test.test_code][2]}})
				</small>
        

				</div>
				

			</div>
			

		</td>
	</tr>
	<tr ng-if = "main_test.type == 'Tabular'">
		<td><div class = "row">
				<div class = "col-sm-6">
					<!-- ... -->

				</div>
				<div class = "col-sm-6">
					
					
				</div>

			</div></td>
		<td>
			<div class = "row">
				<div class = "col-sm-6">
					
				
				</div>
				<div class = "col-sm-6">
			 <input ng-enter = "get_formula_result(main_test.test_code, '_2', main_test.result_2); get_abnormal_val()"  type="text" size = "8" placeholder="value" ng-model = "main_test.result_2">
					
				</div>

			</div>

			

		</td>
		<td>
			<div class = "row">
				<div class = "col-sm-6">
				
	

				</div>
				<div class = "col-sm-6">
					
					{{main_test.unit_2}}
				</div>

			</div>

			
		</td>
		<td>
			<div class = "row">

				<div class = "col-sm-6 range1">
				{{main_test.range_2}}

				</div>
				<div class = "col-sm-6 range2">
					{{main_test.h_range_2}}
					
				</div>

			</div>

			 

		</td>
		<td>
	<div class = "row">
				<div class = "col-sm-12">
					<small ng-if = "mee[main_test.test_code][1]">

						<!-- {{main_test.prev_result.date}} -->
			{{mee[main_test.test_code][1]}}	({{mee[main_test.test_code][2]}})
					</small>
				
          

				</div>
				

			</div>
			

		</td>
	</tr>
	<tr ng-if = "main_test.type == 'Paragraph'">
		<td>{{main_test.test_name}} - {{main_test.test_code}}</td>
		<td colspan="2"> <textarea class = "form-control" rows = "3" ui-tinymce = "tinymceOptions" ng-model = "main_test.result"></textarea></td>
		<td><!-- <button>test footer</button> --></td>
		<!-- <td></td> -->
		<td><!-- <button>previous result</button> --></td>
	</tr>

	<!-- for culture tests -->
	 <tr ng-if = "main_test.type == 'Culture'" ng-init="get_a_culture(main_test.id, main_test)">
	<!-- <tr>  -->
	
		<td style="padding: 4px; text-align: left !important">
			<label>
				
				

				<b>Spicemen</b>
			</label><br>
			<input ng-model = "main_test.spicemen" type="text" placeholder="spicemen"><br>
			
			<label>
				<b>Sample Collection Date</b>
			</label><br>
			<input ng-model = "main_test.date_collection" type="text" placeholder="collection date"><br>

			<label>
				<b>Reporting Date</b>
			</label><br>
			<input ng-model = "main_test.reporting_date" type="text" placeholder="reporting date"><br>
			<label>
				<b>Organism</b>
			</label><br>
			<input ng-model = "main_test.organism" type="text" placeholder="organism"><br>

			<label>
				<b>Colony Count</b>
			</label><br>
			<input ng-model = "main_test.colony_count" type="text" placeholder="colony count"><br>

			<label>
				<b>Gram's Stain</b>
			</label><br>
			<input ng-model = "main_test.grams_stain" type="text" placeholder="gram's stain"><br>

		</td>
		<td colspan="2" style="padding: 8px">

			<!-- <p><b>Medicines</b></p> -->

			<label>
				<b>Culture Report</b>
			</label><br>
			<input ng-model = "main_test.culture_report" type="text" placeholder="report"><br>
			<div class = "row">
				<div class = "col-sm-6 col-md-2" ng-repeat="i in main_test.med_lists">
				

					<b>{{i.name}}</b> <input ng-model = "main_test[i.code]" type="text" size = "3" name="">
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-2" ng-repeat="i in [{name: 'H', v: '+++'}, {name: 'M', v: '++'}, {name: 'S', v: '+'}, {name: 'R', v: '-'}]">
						<b>{{i.name}} {{i.v}}</b>  
					</div>
				</div>
			
			</div>

			<div class="form-group">
				<p><b>Comment</b></p>
				
				<textarea placeholder="comment" ui-tinymce = "tinymceOptions"   ng-model = "main_test.culture_comment"></textarea>
			</div>
			


			
		</td>
		<td><!-- <button>test footer</button> --></td>
		<!-- <td></td> -->
		<td><!-- <button>previous result</button> --></td>
	</tr>


	</tbody>




</table>
</div>

		</div>

<!-- start profiled tests -->
	<div class="all-profiles" ng-if = "grouped_tests.profiles">

<div class = "group-test-profile" ng-repeat = "profile_group in grouped_tests.profiles">

	<p><b>{{profile_group.name}}</b></p>

	<div class = "a-profile" ng-repeat="main_profile in profile_group.data">
		<small>

			<!-- {{main_profile.name}} -->

		</small>

<table>
	<tr>
		<td></td>

		<td></td>
		<td></td>
			<td><b>Normal Range</b></td>
		<td><b>Prev. Result</b></td>
	
	</tr>
	<tbody ng-repeat="test_in_prof in main_profile.data">

	<tr ng-if = "test_in_prof.type == 'Tabular'">
		<td>
			<div class="row">
				<div ng-init ="get_patient_previous_result(test_in_prof.test_code, mee)" class="col-sm-6 test-name">
					
					{{test_in_prof.test_name}}

				</div>
				<!-- <div class="col-sm-6" ng-init ="get_patient_previous_result(test_in_prof.test_code, mee)">
					{{test_in_prof.test_code}}
				
				</div> -->
			</div>

			

		</td>
		<td>
			<div class="row">
				<div class="col-sm-6"></div>
				<div class="col-sm-6"> <input ng-enter = "get_formula_result(test_in_prof.test_code, '_1', test_in_prof.result_1); get_abnormal_val()" type="text" size = "8" placeholder="value" ng-model = "test_in_prof.result_1"></div>
			</div>
			

		</td>
		<td>
			<div class="row">
				<div class="col-sm-6"></div>
				<div class="col-sm-6">{{test_in_prof.unit_1}}</div>
			</div>

			 

		</td>
		<td>
		<div class="row">
			
				<div class="col-sm-6 range1">{{test_in_prof.range_1}} </div>
				<div class="col-sm-6 range2">{{test_in_prof.h_range_1}}</div>
			</div>
			 

		</td>
		<td>
			<div class="row">
				<div class="col-sm-12">
					<small ng-if = "mee[test_in_prof.test_code][0]"><!-- {{test_in_prof.prev_result.date}} -->
			{{mee[test_in_prof.test_code][0]}} ({{mee[test_in_prof.test_code][2]}})
				</small>
			</div>
				
			</div>
			

		</td>
	</tr>
	<tr ng-if = "test_in_prof.type == 'Tabular'">
		<td>
			<div class="row">
				<div class="col-sm-6">
					<!-- ... -->
				</div>
				<div class="col-sm-6"></div>
			</div>
			

		</td>
		<td>
			<div class="row">
				<div class="col-sm-6"></div>
				<div class="col-sm-6"><input ng-enter = "get_formula_result(test_in_prof.test_code, '_2', test_in_prof.result_2); get_abnormal_val()" type="text" size = "8" placeholder="value" ng-model = "test_in_prof.result_2"></div>
			</div>
			
		</td>
		<td>
			<div class="row">
				<div class="col-sm-6"></div>
				<div class="col-sm-6">{{test_in_prof.unit_2}}</div>
			</div>
		 

	</td>
		<td>
	<div class="row">
		
				<div class="col-sm-6 range1">{{test_in_prof.range_2}}</div>
				<div class="col-sm-6 range2">{{test_in_prof.h_range_2}}</div>
			</div>
			

		</td>
		<td>
			<div class="row">
				<div class="col-sm-12">
			<small ng-if = "mee[test_in_prof.test_code][1]">
				<!-- {{test_in_prof.prev_result.date}} -->
			{{mee[test_in_prof.test_code][1]}}	({{mee[test_in_prof.test_code][2]}})

			</small>
			
      </div>
				
			</div>


		</td>
	</tr>
	<!-- TEST PROFILE CULTURE -->
	<!-- for culture tests -->
	 <tr ng-if = "test_in_prof.type == 'Culture'" ng-init="get_a_culture(test_in_prof.id, test_in_prof)">
	<!-- <tr>  -->
	
		<td style="padding: 4px; text-align: left !important">
			<label>
				
				

				<b>Spicemen</b>
			</label><br>
			<input ng-model = "test_in_prof.spicemen" type="text" placeholder="spicemen"><br>
			
			<label>
				<b>Sample Collection Date</b>
			</label><br>
			<input ng-model = "test_in_prof.date_collection" type="text" placeholder="collection date"><br>

			<label>
				<b>Reporting Date</b>
			</label><br>
			<input ng-model = "test_in_prof.reporting_date" type="text" placeholder="reporting date"><br>
			<label>
				<b>Organism</b>
			</label><br>
			<input ng-model = "test_in_prof.organism" type="text" placeholder="organism"><br>

			<label>
				<b>Colony Count</b>
			</label><br>
			<input ng-model = "test_in_prof.colony_count" type="text" placeholder="colony count"><br>

			<label>
				<b>Gram's Stain</b>
			</label><br>
			<input ng-model = "test_in_prof.grams_stain" type="text" placeholder="gram's stain"><br>

		</td>
		<td colspan="2" style="padding: 8px">

			<!-- <p><b>Medicines</b></p> -->

			<label>
				<b>Culture Report</b>
			</label><br>
			<input ng-model = "test_in_prof.culture_report" type="text" placeholder="report"><br>
			<div class = "row">
				<div class = "col-sm-6 col-md-2" ng-repeat="i in test_in_prof.med_lists">
				

					<b>{{i.name}}</b> <input ng-model = "test_in_prof[i.code]" type="text" size = "3" name="">
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-2" ng-repeat="i in [{name: 'H', v: '+++'}, {name: 'M', v: '++'}, {name: 'S', v: '+'}, {name: 'R', v: '-'}]">
						<b>{{i.name}} {{i.v}}</b>  
					</div>
				</div>
			
			</div>

			<div class="form-group">
				<p><b>Comment</b></p>
				<textarea placeholder="comment" ui-tinymce = "tinymceOptions"  ng-model = "test_in_prof.culture_comment"></textarea>
			</div>
			


			
		</td>
		<td><!-- <button>test footer</button> --></td>
		<!-- <td></td> -->
		<td><!-- <button>previous result</button> --></td>
	</tr>

	<!-- END TEST PROFILE CULTURE -->
	<tr ng-if = "test_in_prof.type == 'Paragraph'">
		<td>{{test_in_prof.test_name}} - {{test_in_prof.test_code}}</td>
		<td colspan="2"> <textarea class = "form-control" rows = "3" ui-tinymce = "tinymceOptions" ng-model = "test_in_prof.result"></textarea></td>
		<td><!-- <button>test footer</button> --></td>
		<!-- <td></td> -->
		<td><!-- <button>previous result</button> --></td>
	</tr>
	</tbody>
	
</table>

</div>

<!-- <div  ng-if = "profile_group.summary != 'undefined'" style = "text-align: left !important" ng-bind-html="profile_group.summary">
	
</div>	 -->

</div>
	</div>


</div>


</div>