<!-- EACH FORMAT COMES WITH ITS OWN STYLING -->
<script>

	//: VUETIFY

	var test_preview_vue = new Vue({
		el: '#result',
		data: {

			enter_test: JSON.parse(window.localStorage.getItem("PreviewTest")),
			business: { name: "Emcode Limited" },
			patient: { no: "GRA-PH-001", name: "Emma", sex: "F", age: "200yrs", referred_by: "Chika Wabara", address: "No 26, Agbanga Street, Obiaruku", phone: "+2348064642044", email: "info@baddest.com", clinical_info: "Patient complained of chest issue" }

		},
		methods: {

			LoadPatient: function(){
				var __this = this
				//alert()
				var data = {

					accepted_test_id: this.enter_test[0].accepted_test_id
				}
				var type = "json"
				var url = getAPI("master", "GetPatientInfo")
				server(url, data, type, function (res) {
					
					__this.patient.no = res.no
					__this.patient.name = res.name
					__this.patient.sex = formatSex(res.sex)
					__this.patient.age = formatAge(res.age)
					formatAge(__this.patient.age)

					__this.patient.referred_by = res.referred_by
					__this.patient.clinical_info = res.clinical_info

					// business info
					__this.patient.address = JSON.parse(res.business).address
					__this.patient.phone =  JSON.parse(res.business).phone
					__this.patient.email =  JSON.parse(res.business).email
					
					
					//console.log(res)
					

				})

				
			}

		}


	})
	test_preview_vue.LoadPatient()

</script>
<style>
	/* .modal-body{
        overflow-y: scroll;
        height: 90vh;
    }
	.patient-info th{
		width: 30%;
	}
	.patient-info td{
		width: 70%;
	}
	.tabular{
		width: 100%;
	}
	.tabular th, .tabular td, .tabular tr{
		border: none;
		padding: 1px;
	}
	.tabular thead{
		 border: 1px solid #333;
	 	 
	
	}
	.cat-name{
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 18px;
		font-weight: bold;
		font-size: 16px;
	} */
</style>

<div id="result">
	<!-- {{enter_test}} -->
	<div id="header">

		<div class="wrap">
			<!-- <h3>{{business.name}}</h3> -->
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

					<table class="patient-info">
						<thead>
							<tr>
								<th>Lab No: </th>
								<td>{{patient.no}}
								<td>
							</tr>
							<tr>
								<th>Name: </th>
								<td>{{patient.name}}
								<td>
							</tr>
							<tr>
								<th>Sex: </th>
								<td>{{patient.sex}}
								<td>
							</tr>
							<tr>
								<th>Age: </th>
								<td>{{patient.age}}
								<td>
							</tr>
							<tr>
								<th>Referred By: </th>
								<td>{{patient.referred_by}}
								<td>
							</tr>
						</thead>

					</table>




				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

					<table class="patient-info">
						<thead>
							<tr>
								<th>Address</th>
								<td>{{patient.address}}
								<td>
							</tr>
							<tr>
								<th>Phone: </th>
								<td>{{patient.phone}}
								<td>
							</tr>
							<tr>
								<th>Email: </th>
								<td>{{patient.email}}
								<td>
							</tr>

						</thead>

					</table>

				</div>
			</div>

		</div>



		<br>
		<p><b>Clinical Info: </b></p>
		<p><small>{{patient.clinical_info}}</small></p>

	</div>
	<div id="body">


		<div class="category" id="enter-test">
			
			<div class="item" v-for="(i, oox) in enter_test">
					<div class = "patient-header"></div>
				<h3 class="cat-name">{{i.category_name}}</h3>

				<table class="tabular" v-for="(t, i) in i.tests">
					<thead v-if="i == 0 && t.report_type == 'Tabular'">
						<tr>
							<th>Test Name</th>
							<th>Value</th>
							<th>Units</th>
							<th>Normal Range</th>
							<th>Prev Result</th>
						</tr>
					</thead>
					<tbody v-if="t.report_type == 'Tabular' || ! t.report_type">
						<tr v-if="t.value_1 != ''">
							<th>{{t.name}}</th>
							<th v-bind:class="{abnormal: t.value_1 < t.range_1_1 || t.value_1 > t.range_2_1}">
								{{t.value_1}} </th>
							<th>{{t.unit_1}}</th>
							<th>{{t.range_1_1}} - {{t.range_2_1}}</th>
							<th>{{t.prev_result_1 != '' ? t.prev_result_1 : '-'}}</th>
						</tr>
						<tr v-if="t.value_2 != ''">
							<th></th>
							<th v-bind:class="{abnormal: t.value_2 < t.range_1_2 || t.value_2 > t.range_2_2}">
								{{t.value_2}} </th>
							<th>{{t.unit_2}}</th>
							<th>{{t.range_1_2}} - {{t.range_2_2}}</th>
							<th>{{t.prev_result_2 != '' ? t.prev_result_2 : '-'}}</th>
						</tr>


					</tbody>
				
					<tbody v-if="t.report_type == 'predefined_test'">
						<tr>

							<!-- <th><input v-model="t.value_1" type="text" /></th> -->

							<td colspan="4">
								<h3>{{t.name}} </h3>
								<div
									v-for="(aa, io) in NormalizeArray_2(JSON.parse(t.custom), 'predefined_test_list', ['field_name', 'ftype', 'presets'], 3, 'default')">




									<p><b>{{aa.field_name}}</b>: {{t[aa.field_name]}}</p>

								</div>




							</td>




						</tr>



					</tbody>


				</table>
				<!-- DISPLAY PARAGRAPH -->

				<div v-if="t.report_type == 'Paragraph'" v-for="(t, i) in i.tests">
						<div>
							<!-- <th>{{t.name}}</th> -->
							<div style="border: none" colspan="5">
								<h5 class="text-center uppercase">{{t.name}}</h5><br>
								<div v-html="t.para_value"></div>
							</div>
							<!-- <th>...</th>
								<th>...</th>
								<th>...</th> -->
						</div>
						
				</div>

				<div class="page-breaker"></div>
				

			</div>
			


		</div>


	</div>



</div>